---
import Checkbox from '../components/Checkbox.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <h1 class='text-3xl text-center py-4'>Settings</h1>
  <div class='container'>
    <img
      class='mx-auto'
      src='settings.png'
      alt='settings'
    />
    <ul>
      <li class='py-2 relative flex flex-col'>
        <label
          for='what'
          class='display-block text-2xl mb-4'
          >Ответ бота при удалении сообщения:</label
        >
        <textarea
          class='border display-block rounded-3xl resize-none p-2'
          name='what'
          id='what'
          rows='5'
        ></textarea>
      </li>
      <li>
        <Checkbox
          name='learn'
          question='Использовать канал для обучения?'
        />
      </li>
      <li>
        <Checkbox
          name='paid'
          question='Канал оплачен'
          paid='true'
        />
      </li>
      <li class='py-4 text-2xl'>Какая-то оплата</li>
      <li id='test'></li>
    </ul>
  </div>
</Layout>

<script>
  declare global {
    interface Window {
      Telegram: any
    }
  }
  window.onload = function () {
    let tg = window.Telegram.WebApp
    let test = document.getElementById('test')
    let div = document.createElement('div')
    tg.ready()
    div.innerHTML = JSON.stringify(tg.initData)
    tg.MainButton.setText('Сохранить настройки')

    //изменяем текст кнопки иначе
    // tg.MainButton.textColor = '#F55353' //изменяем цвет текста кнопки
    // tg.MainButton.color = '#143F6B' //изменяем цвет бэкграунда кнопки
    // tg.MainButton.setParams({ color: '#143F6B' }) //так изменяются все параметры

    document.createTextNode(JSON.stringify(tg.themeParams))

    tg.MainButton.show()
    tg.onEvent('mainButtonClicked', function () {
      tg.sendData('some string that we need to send')
      //при клике на основную кнопку отправляем данные в строковом виде
    })
  }
  console.log('first')
</script>
