---
import Checkbox from '../components/Checkbox.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <h1 class='text-3xl text-center py-4'>Settings</h1>
  <div class='container'>
    <img
      class='mx-auto'
      src='settings.png'
      alt='settings'
    />
    <ul>
      <li
        class='py-2 relative flex flex-col'
        id='first'
      >
        <label
          for='what'
          class='display-block text-2xl mb-4'
          >Ответ бота при удалении сообщения:</label
        >
        <textarea
          class='border display-block rounded-3xl resize-none p-2'
          name='what'
          id='what'
          rows='5'
        ></textarea>
      </li>
      <li>
        <Checkbox
          name='learn'
          question='Использовать канал для обучения?'
          id='learn'
        />
      </li>
      <li>
        <Checkbox
          name='paid'
          question='Канал оплачен'
          value='true'
          id='paid'
        />
      </li>
      <li class='py-4 text-2xl'>Какая-то оплата</li>
      <li id='test'></li>
    </ul>
  </div>
</Layout>

<script>
  declare global {
    interface Window {
      Telegram: any
    }
  }
  window.onload = function () {
    let tg = window.Telegram.WebApp

    let data = {
      what: '',
      learn: false,
      paid: true,
    }

    const textarea = document.getElementById('what')
    const learn = document.getElementById('learn')
    const paid = document.getElementById('paid')

    let first = document.getElementById('first')
    let div = document.createElement('div')
    div.innerHTML = JSON.stringify(data)
    first?.appendChild(div)

    textarea?.addEventListener('input', (e) => {
      if (e.target) {
        const target = e.target as HTMLTextAreaElement
        data.what = target.value

        div.innerHTML = JSON.stringify(data)
      }
    })

    tg.ready()

    tg.MainButton.show()
    tg.onEvent('mainButtonClicked', function () {
      const textarea = document.getElementById('what')
      const learn = document.getElementById('learn')
      const paid = document.getElementById('paid')
      const taxtareaElement = textarea as HTMLTextAreaElement
      const learnElement = learn as HTMLInputElement
      const paidElement = paid as HTMLInputElement

      const res = JSON.stringify({
        what: taxtareaElement.value,
        learn: learnElement.checked,
        paid: paidElement.checked,
      })

      tg.sendData(res)
    })
  }
</script>
